.chess {
  max-width: 512px;
  width: 100%;
  margin: 0 auto;
  padding: 15px;
}

.board-container {
  position: relative;  
  width: 100%;
  padding-bottom: 100%;
}

.board {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  user-select: none;
}

.row {
  display: flex;
  height: calc(100% / 8);
}

.row .cell--odd:nth-child(odd) {
  background: rgb(41, 71, 41);
}
.row .cell--even:nth-child(even) {
  background: rgb(41, 71, 41);
}

.cell {
  height: 100%;
  width: calc(100% / 8);
  position: relative;
  background: white;
}

.piece {
  background: black;
  width: calc(100% / 9);
  height: calc(100% / 9);
  border: solid 4px rgb(231, 71, 71);
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  background-position: center;
  background-size: cover;
  transition: 0.5s;
  pointer-events: none;
}

.piece--white {
  background-color: #fff;
}
